<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net>
    <appender>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"
                    xdt:Transform="Insert" />
    </appender>
    <root>
      <level value="DEBUG" xdt:Transform="SetAttributes" />
    </root>
  </log4net>

  <connectionStrings>
    <add name="CaServiceDbContext"
          connectionString="data source=preprod-ses.ckno0pynfogo.us-east-1.rds.amazonaws.com,1433;initial catalog=PreProdCertDB;user id=preprodcadb;password=zwesw2@;application name=EntityFramework;MultipleActiveResultSets=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="awsCrlRevokeSqsUrl"
         value="https://sqs.us-east-1.amazonaws.com/293484591747/crlrevoke_preprod"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="awsElastiCacheUrl"
         value="preprod-ca-cache.kzy0xe.cfg.use1.cache.amazonaws.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="crlFilePath"
         value="C:\crldata\"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

</configuration>